services:
  - type: static
    name: marketing-blog-frontend
    env: static
    buildCommand: npm run build
    publishPath: dist/frontend/browser
    routes:
      # Support Angular routing and deep links
      - type: rewrite
        source: /*
        destination: /index.html
    headers:
      - path: /*
        name: Cache-Control
        value: no-cache, no-store, must-revalidate
      - path: /assets/*
        name: Cache-Control
        value: public, max-age=31536000
      - path: /*
        name: X-Frame-Options
        value: SAMEORIGIN
